input{
	position:relative;
	top:50vh;
	left:50%;
	-webkit-appearance: none;

}

input::after{
	content: "+ Follow";
	letter-spacing: 0.1rem;
	font-family: "Helvetica";
	border:1px solid #2854A4;
	color: #2854A4;
	font-size:1.3rem;
	position:absolute;
	top:-10px;
	left:-20px;
	padding:5px 30px;
	white-space: nowrap;
	outline: none;
	animation:changeShapes 0.3s ease-in-out 1;
}


input:checked::after{
	background-color:green;
	color:white;
	border:transparent;
	content:"Following";
	animation:changeShape 0.3s ease-in-out 1;
}

@keyframes changeShape{
	from{
		transform: scale(1,1);
	}
	50%{
		transform: scale(1.5,1);
	}
	100%{
		transform: scale(0.8,1);
	}
}

@keyframes changeShapes{
	from{
		transform: scale(1,1);
	}
	50%{
		transform: scale(1.5,1);
	}
	100%{
		transform: scale(1,1);
	}
}
