html{
	font-size: 20px;
}

body{
	margin: 0;
	background-color: #0C1027;
	color: white;
}

.text-style{
	font-family: candara light;
	text-transform: capitalize;
}

.text-style-footer{
	color: #B3B3B3;
	font-family: gill sans MT;
	text-transform: capitalize;	
}

.bold{
	font-weight: 700;
}

.light{
	font-weight: 0;
}

#navbar{
	width: 95vw;
	height: 10vh;
	margin: auto 20px;
	padding: 10px;
	background-color: #0C1027;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index:1;
}

#player-icon, #user-image{
	padding: 5px;
}

#navbar img{
	height: 9vh;
}

#navtext-1{
	padding-top: 17px;
	padding-left: 5px;
	font-size: 0.8rem;
	flex-grow: 1;
}

#navtext-2{
	font-size: 0.7em;
	flex-grow: 1;
	padding: 25px;
	line-height: 30px;
}

#searchbar{
	flex-grow: 2;
	padding: 25px;
	box-sizing: border-box;
	white-space: nowrap;
	color: white; /*#93A8B3;*/
}


#searchbar input[type="text"]{
	background: #12193E;
	font-size: 0.6rem;
	padding: 2px;
	border: none;
	width: 60%;
	height: 28px;

}

#searchbar input[type="text"]:focus{
	outline: none;
	color: white;
}

#searchbar button{
	background: #12193E;
	border: none;
}

#searchbar button i{
	color: #93A8B3;
}

#text-search{
	position: relative;
	left: 5px;
	border-radius: 5px 0 0 5px;	
	height: 32px;
}

#voice-search{
	position: relative;
	right: 6px;
	border-radius: 0 5px 5px 0;
	height: 32px;
}

#searchbar button:focus{
	outline: none;
}
#alert-icon{
	text-align: left;
	flex-grow: 1;
	position: relative;
}

#alert-icon::after{
	content:'';
	position: absolute;
	height: 7px;
	width: 7px;
	top: 42%;
	left: 15px;
	border-radius: 50%;
	background-color: red;

}
#alert-icon i{
	font-size: 1.3rem;
	padding-top: 28px;
}

#user-image {
	padding: 15px 0;
}

#user-image img{
	height: 8vh;
	width: inherit;
	
}

/*-----------------------------------MAIN SECTION--------------------------------------------*/
.capital{
	text-transform:uppercase;
}

#main-container{
	height: auto;
	width: 65%;
	/*border: 2px solid white;*/
	position: relative;
	top: 100px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	padding: 10px;

}

#main-container > div{
	height: auto;
	width: 80%;
	/*border: 1px solid white;*/
	margin: 10px auto;
}

/*------------------------------------------------CAROUSEL-------------------------------------------------*/

.carousel-container {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-controller {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 1;
}

.carousel-controller.prev {
    left: 2%;
}

.carousel-controller.next {
    right: 2%;
}

.carousel-controller:hover {
    background: rgba(0, 0, 0, 0.5);
    color: purple;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: red;
}


/*---------------------------------------------CONTENT OF MAIN---------------------------------------------------*/

#latest-release-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	/*padding: 15px;*/
	/*box-sizing: border-box;*/
}

#latest-release-container > div{
	height: 20vh;
	width: 300px;
	/*border: 1px dashed white;*/
	/*margin-top: 10px;*/
	padding: 15px;
	position: relative;
}

#album-image{
	height: 14vh;
	width: 80px;
	/*border: 1px solid white;*/
	position: relative;
	top: 20px;
}

#album-image img{
	height: inherit;
	width: inherit;
	z-index: 
}

#album-image div{
	height: inherit;
	width: inherit;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0%;
	padding: 31px;
	box-sizing: border-box;
	display: none;
}


#album-image div a i{
	font-size: 1.7rem;
}

#album-image div a{
	color: white;
}

.release-1{
	position: relative;
}

#album-image-hover a{
	position: absolute;
	font-size: 1.7rem;
	bottom: 30px;
	left: 30px;
	z-index: 1;
	/*display: none;*/
	/*border: 1px solid white;*/
}

#album-pause{
	position:absolute;
	color:white;
	left: 35%;
	top: 35%;
	font-size: 1.7rem;
	display: none;
}

#album-details{
	display: inline-block;
	height: 14vh;
	width: 70%;
	position: relative;
	left: 90px;
	bottom: 80px;
	/*border: 1px solid white;*/
}

#album-details span{
	font-size: 0.8rem;
}

#dropdown-btn{
	display: block;
	width: 20%;
	position: relative;
	left: 78%;
	text-align: center;
	font-size: 1rem;
	/*border: 1px solid white;*/
}

#dropdown-menu{
	height: 22vh;
	width: 150px;
	background-color: white;
	position: absolute;
	top: 30%;
	left: 5%;
	padding: 10px;
	z-index: 1;
	text-align: right;
	/*display: none;*/
	visibility: hidden;
}

#dropdown-menu > button{
	width: 75%;
	height: 4vh;
	/*border: 1px solid black;*/
	margin: 5px auto;
	padding-left: 10px;
	white-space: nowrap;
}


#dropdown-menu button:hover{
	background-color: blue;
	color: white;
}

#button-1::before{
	content:"";
	width: 25px;
	height: 25px;
	position: absolute;
	right: 75%;
	background-image: url(play-icon1.svg);
	background-size: cover;
	background-position: center;
}

#button-2::before{
	content:"";
	width: 25px;
	height: 25px;
	position: absolute;
	right: 75%;
	background-image: url(add-icon.svg);
	background-size: cover;
	background-position: center;
}

#button-3::before{
	content:"";
	width: 25px;
	height: 25px;
	position: absolute;
	right: 75%;
	background-image: url(add-to-fav.png);
	background-size: cover;
	background-position: center;
}

#button-4::before{
	content:"";
	width: 25px;
	height: 25px;
	position: absolute;
	right: 75%;
	background-image: url(get-info.svg);
	background-size: cover;
	background-position: center;
}

 #dropdown-btn:hover{
	color: #b3b3b3;
}

#dropdown-btn:focus{
	outline: none;
}

#dropdown-btn:focus + #dropdown-menu{
	visibility: visible;
	
	transform-origin: top right;
	animation: changeShape 0.25s ease-in-out 1;
}

@keyframes changeShape{
	from{
		opacity: 0;
		transform: scale(0,0);
	}
	to{
		opacity: 1;
		trnasform: scale(1,1);
	}
}

#album-image:hover #album-image-hover{
	display:block;
}

#album-image-hover a:first-child:focus{
	color: transparent;
}

#album-image-hover a:first-child:focus + #album-pause{
	display: block;
}

#player:target{
	visibility: visible;
}

/*--------------------------------------MAIN:ARTISTS SECTION---------------------------------------*/

#artists-container{
	width: auto;
	display: flex;
	/*border: 2px solid white;*/
	padding: 10px;
}

#artists-container > div{
	width: 20%;
	height: 20vh;
	/*border: 1px dashed white;*/
	margin: auto 10px;
	display: flex;
	flex-direction: column;
}

#artists-img-container{
	height: 80%;
	width: 100%;
	/*background-color: white;*/
	border-radius: 50%;
	position: relative;
}

#artists-img-container > div{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	padding: 40px;
	box-sizing: border-box;
	font-size: 2rem;
	display: none;
}

#artists-img-container:hover #hover-play{
	display: block;
}

#artists-img-container img{
	height: 100%;
	width: 100%;
	border-radius: 50%;

}

#artists-name{
	height:20%;
	width:100%;
	/*background-color: red;*/
	white-space: nowrap;
	font-size: 0.8rem;
	text-align: center;
	padding-top: 5px;
	box-sizing: border-box;
}

/*-----------------------------------STATIONS SECTION------------------------------------------*/

#stations{
	padding:0 10px;
	background-color: #101642;
}

#stations > div{
	height: 22vh;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*margin: 5px;*/

}

#stations-container > div:not(#stations-categories){
	height:75%;
	width: 13%;
	margin: 0 10px;
	/*border: 1px dashed white;*/
	box-sizing: border-box;
	position: relative;
	top: -15%;
	text-align: center;
}

#stations-container span{
	text-transform: capitalize;
	font-size: 1.2rem;
	font-family: candara;
	font-weight: 500;
	position: relative;
	top:60%;
	left: -5%;
}

#stations-categories{
	height:75%;
	width: 20%;
}

#stations-container div:not(#stations-categories){
	border-radius:50%;
	opacity: 0.8;
}

#stations-categories img{
	height: 100%;
	width: 100%;
}

.round{
	border-radius:50%;
}

/*-----------------------------------GENRE SECTION----------------------------------------*/
#genre > div{
	height: 25vh;
	width: 100%;
	/*background-color: red;*/
	display:flex;
	justify-content: space-between;
	/*position: relative;*/
}

#genre-container > div{
	height:inherit;
	width:30%;
	/*border: 1px solid white;*/
	text-align: center;
	overflow:hidden;
	position: relative;
}

#genre-container span{
	position:absolute;
	top:36%;
	left:25%;
	font-size: 1.5rem;
	z-index: 1;
	letter-spacing: 0.1rem;
}

#party-station{
	height:inherit;
	width:100%;
	/*border: 1px dashed white;*/
	background-image: url(genre-asset-1.jpg);
	background-size: cover;
	background-position: center;
	overflow:hidden;
	opacity:0.8;
	/*position: relative;*/
}

#party-station:hover{
	transform: scale(1.5,1.5);
	transition: all 0.4s ease-in-out;
}

#genre-container span:hover{
	transform: scale(1.5,1.5);
	transition: all 0.4s ease-in-out;
}

#electronic-station{
	height:inherit;
	width:100%;
	background-image: url(genre-asset-2.jpg);
	background-size: cover;
	background-position: center;
	overflow:hidden;
	opacity:0.8;
	/*position: relative;*/
}

#electronic-station:hover{
	transform: scale(1.5,1.5);
	transition: all 0.4s ease-in-out;
}

#road-trip-station{
	height:inherit;
	width:100%;
	background-image: url(genre-asset-3.jpg);
	background-size: cover;
	background-position: center;
	overflow:hidden;
	opacity:0.8;
}

#road-trip-station:hover{
	transform: scale(1.5,1.5);
	transition: all 0.4s ease-in-out;
}

/*----------------------------------LATEST ENGLISH SECTION----------------------------------*/

#english-artists-img-container{
	height: 100%;
	width: 100%;
	position: relative;
}

#english-artists-img-container > div{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	padding: 40px;
	box-sizing: border-box;
	font-size: 2rem;
	display: none;
}

#english-artists-img-container:hover #hover-play{
	display: block;
}

#english-artists-img-container img{
	height: 100%;
	width: 100%;
	/*border-radius: 50%;*/

}

#english-artists-img-container #hover-play a:last-child{
	position: absolute;
	top: 35%;
	right: 25%;
	display: none;
}

#english-artists-img-container #hover-play a:first-child:focus{
	color:transparent;
}

#english-artists-img-container #hover-play a:first-child:focus + a{
	display: block;
}

/*--------------------------------ASIDE SECTION*-----------------------------------------*/

.menu-text-style{
	color: black;
	font-family: arial;
	text-transform: capitalize;
	font-size: 0.6rem;
	text-decoration: none;
}

.white{
	color: white;
}


#aside-container{
	height: 100vh;
	width: 300px; /*45%*/
	/*border: 2px solid white;*/
	position: absolute;
	top: 100px;
	left: 70vw;
	display: flex;
	flex-direction: column;
}

#aside-container > div{
	width: inherit;
	box-sizing: border-box;
}

#aside-header{
	height: 8vh;
	color: white;
	font-size: 1.3rem;
	padding: 10px;
	/*border: 1px solid white;*/
	display: flex;
	justify-content: space-between;
	position: relative;
}

#queue-container{
	position: relative;
}

#queue-btn{
	color: #50E3C2;
}

#queue-items{
	position: absolute;
	right: 60px;
	background-color: white;
	height: 0;
	width: 0;
	line-height: 30px;
	padding: 10px;
	/*display: none;*/
	z-index: 1;
	visibility: hidden;
}

#queue-items button{
	color: black;
	font-weight: 600;
	height: 30px;
	width: 100px;
	white-space: nowrap;
}

#queue-items button:hover{
	background-color: blue;
	color: white;
}

#queue-btn:focus{
	outline: none;
}

#queue-btn:hover{
	color: orange;
}

#queue-btn:focus + #queue-items{
	visibility: visible;
	height: 100px;
	width: 120px;
	transition: height 0.15s linear, width 0.15s linear;
}

#queue-songs{
	width: inherit;
	height: inherit;
	/*border: 2px solid green;*/
	display: flex;
	flex-direction: column;
	align-content: center;
}

#queue-songs ol {
	color: #B3B3B3;
	font-size: 0.8rem;
	list-style-type: decimal-leading-zero;
	font-family: candara light;
}

#queue-songs ol div {
	height: 10vh;
	width: inherit;
	/*border: 1px dashed red;*/
}

#queue-songs ol div li{
	margin-top: 25px;
	margin-left: 10px;
}

#song-item{
	position: relative;
}

#song-item img{
	height: 8vh;
	width: 60px;
	position: relative;
	left: 40px;
	bottom: 35px;
}

#song-info{
	height: inherit;
	display: inline-block;
	position: relative;
	left: 45px;
	bottom: 40px;
	/*padding: 10px;*/
}

#song-item button{
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 85%;
	font-size: 1.2rem;
	padding-right: 20px;
}


#song-item button:focus{
	outline: none;
	color: red;
}

#hover-content{
	height: inherit;
	max-width: 230px;
	background-color: grey;
	opacity: 0.4;
	position: relative;
	top: -120px;
	left: 30px;
	visibility: hidden;
}

#hover-content + a{
	visibility: hidden;
	position: absolute;
	width: 37px;
	top: -5px;
	left: 130px;
	border-radius: 50%;
	color: darkgrey;
}

#hover-content + a i{
	font-size: 1.5rem;
}

#hover-button-pause{
	visibility: hidden;
	position: relative;
	top: -24vh;
	left: 125px;
}

#hover-button-pause i{
	color: white;
	font-size: 1.5rem;
}

#song-item:hover #hover-content{
	visibility: visible;
}

#song-item:hover #hover-button{
	visibility: visible;
}

#hover-button:hover{
	color: white;
}

#player:target{
	visibility: visible;
}


/*---------------------------------FOOTER SECTION-----------------------------------------------------*/

.transparent{
	background-color: transparent;
	border: none;
}


#player{
	height: 15vh;
	width: 100vw;
	/*border: 1px solid white;*/
	position: relative;
	top: 85vh;
	background-color: #282828;
	padding: 0 20px;
	position: fixed;
	display: flex;
	visibility: hidden;
}

#player div{
	margin: auto 10px;
}

#album-cover{
	
	height: 12vh;
	width: 80px;
	margin: 10px 0 10px 80px;
	/*border: 1px solid white;*/
}

#album-cover img{
	height: inherit;
	width: inherit;
}

#album-text{
	width: 50px;
	white-space: nowrap;
	/*border: 1px solid white;*/
	flex-grow: 2;
	overflow: hidden;
}


#album-text > span{
	font-size: 0.8rem;
}

#album-text span.text-style-footer{
	font-size: 0.7rem;
	font-family: tahoma;
}

#like-dislike{
	position: relative;
	top: -3vh;
	height: 8vh;
	width: 125px;
	/*border: 1px solid white;*/
	
	padding: 2px;
	box-sizing: border-box;
	white-space: nowrap;
}

#like-dislike button{
	height: inherit;
	width: 30px;
	margin: 10px;
}

#like-dislike i{
	padding: 5px;
	font-size: 1.2rem;
}

#like-button:focus{
	color: red;
	outline: none;
}

#dislike-button:focus{
	color: blue;
	outline: none;
}

#music-controls{
	height: 12vh;
	width: 400px;
	/*border: 1px solid white;*/
	flex-grow: 3;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#music-controls button{
	/*border: 1px solid white;*/
	margin: 0 10px;
	font-size: 1.2rem;
	width: 40px;
	margin-top: 5px;
}

#play-song i{
	font-size: 1.5rem;
}

#play-song{
	height: 8vh;
	display: inline-flex;
}

#play-song:hover{
	border: 1px solid white;
	border-radius: 50%;
}

#pause-song{
	position: relative;
	right: 25px;
	display: none;
}

#play-song:focus + button#pause-song{
	display: inline-block;
}

#music-controls button:hover{
	color: white;
}

#music-controls button:focus{
	color: white;
	outline: none;
}


#progress-bar{
	height: 1vh;
	width: 350px; /*60%*/
	background-color: #4B4B4B;
	border-radius: 20px;
	position: relative;
}

#progress{
	height: inherit;
	width: 40%;
	position: absolute;
	left: -20px;
	border-radius: 20px;
	background-color: #35E787;
	/*display: none;*/
}

#progress-bar::before{
	content: '1:39';
	position: absolute;
	font-family: tahoma;
	font-size: 60%;
	color: #B3B3B3;
	left: -12%;
	top: -8px;
}

#progress-bar::after{
	content: '4:44';
	position: absolute;
	font-family: tahoma;
	font-size: 60%;
	color: #B3B3B3;
	right: -12%;
	top: -8px;
}

#progress::after{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	right: -10px;
	top: -4px;
	background-color: #D8D8D8;
	border-radius: 50%;
}

#volume-controls{
	height: 12vh;
	width: 400px;
	/*border: 1px solid white;*/
	flex-grow: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	white-space: nowrap;
}

#volume-controls button{
	/*border: 1px solid white;*/
	margin: 0 10px;
	font-size: 1rem;
	width: 30px;
}

#progress-bar-vol{
	height: 1vh;
	width: 90px; 
	background-color: #B3B3B3;
	position: relative;
	border-radius: 20px;
}

#progress-vol{
	height: inherit;
	width: 40%;
	position: absolute;
	left: -20px;
	border-radius: 20px;
	background: linear-gradient(to right, green, yellow 90%);
	position: relative;
}

#progress-vol::after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	left: 32px;
	top: -7px;
	background-color: #D8D8D8;
	border-radius: 50%;
}

#volume-controls button:focus{
	color: white;
	outline: none;
}

#volume-controls button:hover{
	color: white;
}

/*---------------------------------------------media queries--------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 992px){

	#main-container > div{
	height: auto;
	width: 80%;
	/*border: 1px solid white;*/
	margin: 10px 0 0 30px;
}

	#aside-container > div{
		right:30px;
	}


	#artists-container > div{
		height:40%;
		width:40%;
		/*border:1px solid white;*/
	}

	#artists-container span{
		font-size: 0.75rem;
	}

	#english-artists-img-container > div{
	height: inherit;
	width: inherit;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	padding: 40px;
	box-sizing: border-box;
	font-size: 2rem;
	display: none;
}

	#english-artists-img-container #hover-play a{
		font-size:1.2rem;
		position: absolute;
		top:40%;
		right:40%;

}

#genre > div{
	height: 25vh;
	width: 140%;
	display:flex;
	justify-content: space-between;
	/*position: relative;*/
}

#genre-container > div{
	height:inherit;
	width:30%;
	/*border: 1px solid white;*/
	text-align: center;
	overflow:hidden;
	position: relative;
}

#genre-container span{
	position:absolute;
	top:36%;
	left:25%;
	font-size: 1.2rem;
	z-index: 1;
}

#stations > div{
	height: 22vh;
	width: 140%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*margin: 5px;*/

}

#stations-container > div:not(#stations-categories){
	height:75%;
	width: 13%;
	margin: 0 10px;
	/*border: 1px dashed white;*/
	box-sizing: border-box;
	position: relative;
	top: -15%;
	text-align: center;
}

#stations-container span{
	text-transform: capitalize;
	font-size: 1rem;
	font-family: candara;
	font-weight: 500;
	position: relative;
	top:60%;
	left: -5%;
}

#stations-categories{
	height:75%;
	width: 20%;
}

#stations-container div:not(#stations-categories){
	border-radius:50%;
	opacity: 0.8;
}


#artists-container{
	width: 140%;
	display: flex;
	/*border: 2px solid white;*/
	padding: 10px;
}

#artists-container > div{
	width: 20%;
	height: 20vh;
	/*border: 1px dashed white;*/
	margin: auto 10px;
	display: flex;
	flex-direction: column;
}

#artists-img-container{
	height: 80%;
	width: 100%;
	/*background-color: white;*/
	border-radius: 50%;
	position: relative;
}

#artists-img-container > div{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	padding: 40px;
	box-sizing: border-box;
	font-size: 2rem;
	display: none;
}

#artists-img-container img{
	height: 100%;
	width: 100%;
	border-radius: 50%;

}

#artists-img-container a{
	font-size:1.5rem;
}

#artists-name{
	height:20%;
	width:100%;
	/*background-color: red;*/
	white-space: nowrap;
	font-size: 0.7rem;
	text-align: center;
	padding-top: 5px;
	box-sizing: border-box;
}

}

@media screen and (max-width: 768px){

	#player{
		visibility: hidden;
	}

	#aside-container{
	display: none;
	}

	#main-container > div{
		width:140%;
	}


	#genre > div{
	height: 25vh;
	width: 140%;
	display:flex;
	
	justify-content: space-between;
	/*position: relative;*/
}

#artists-container{
	width: 140%;
	display: flex;
	/*border: 2px solid white;*/

	padding: 10px;
}

#shuffle,#repeat{
	display: none;
}

#play-song,#pause-song,#prev-song,#next-song{
	position: relative;
	right:20px;
	bottom:20px;
}

#album-cover{
	height:50px;
	width:50px;
}

#like-dislike{
	/*display: none;*/
	position: absolute;
	top:0px;
	left:60%;
}

#progress-bar{
	height: 1vh;
	width: 250px; /*60%*/
	background-color: #4B4B4B;
	border-radius: 20px;
	position: relative;
	left:20px;
	bottom:20px;
}

#toggle-button,#download-button,#volume-button{
	display: none;
}

#progress-bar-vol{
	display: none;
}
	
}

