html{
	font-size: 20px;
}

body{
	margin: 0;
	background-color: #0C1027;
	color: white;
}

.text-style{
	font-family: candara light;
	text-transform: capitalize;
}

.text-style-footer{
	color: #B3B3B3;
	font-family: gill sans MT;
	text-transform: capitalize;	
}

.bold{
	font-weight: 700;
}

.light{
	font-weight: 0;
}

.white{
	color: white;
}

#navbar{
	width: 95vw;
	height: 10vh;
	margin: auto 20px;
	padding: 10px;
	background-color: #0C1027;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index:1;
}

#player-icon, #user-image{
	padding: 5px;
}

#navbar img{
	height: 9vh;
}

#navtext-1{
	padding-top: 17px;
	padding-left: 5px;
	font-size: 0.8rem;
	flex-grow: 1;
}

#navtext-2{
	font-size: 0.7em;
	flex-grow: 1;
	padding: 25px;
	line-height: 30px;
}

#searchbar{
	flex-grow: 2;
	padding: 25px;
	box-sizing: border-box;
	white-space: nowrap;
	color: white; /*#93A8B3;*/
}


#searchbar input[type="text"]{
	background: #12193E;
	font-size: 0.6rem;
	padding: 2px;
	border: none;
	width: 60%;
	height: 28px;

}

#searchbar input[type="text"]:focus{
	outline: none;
	color: white;
}

#searchbar button{
	background: #12193E;
	border: none;
}

#searchbar button i{
	color: #93A8B3;
}

#text-search{
	position: relative;
	left: 5px;
	border-radius: 5px 0 0 5px;	
	height: 32px;
}

#voice-search{
	position: relative;
	right: 6px;
	border-radius: 0 5px 5px 0;
	height: 32px;
}

#searchbar button:focus{
	outline: none;
}
#alert-icon{
	text-align: left;
	flex-grow: 1;
	position: relative;
}

#alert-icon::after{
	content:'';
	position: absolute;
	height: 7px;
	width: 7px;
	top: 42%;
	left: 15px;
	border-radius: 50%;
	background-color: red;

}
#alert-icon i{
	font-size: 1.3rem;
	padding-top: 28px;
}

#user-image {
	padding: 15px 0;
}

#user-image img{
	height: 8vh;
	width: inherit;
	
}
/*------------------------------------------main--------------------------------------------------*/

:root{
	--text-color:#B3B3B3;
}

main{
	height:auto;
	width:70vw;
	/*border:2px solid white;*/
	display: inline-block;
	margin: 100px 0;
	padding: 15px;
}

main > div{
	height:50%;
	width: inherit;
	/*border: 1px solid white;*/
	margin:15px 0;
	padding: 15px;
	box-sizing: border-box;
}

#artists-about{
	display:flex;
	flex-direction: row;
	background-color: #141B41;
	/*border: 1px solid yellow;*/
}

#artists-img{
	height:40vh;
	width:30%;
	/*border:1px dashed white;*/
	background-image: url(cp.png);
	opacity: 0.7;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 -25px 25px 5px #141B41 inset;
}

#artists-details{
	height:100%;
	width:80%;
	/*border:1px dashed white;*/
}

#band-name{
	margin-top:20px;
	width:100%;
	/*border: 1px solid white;*/
	padding:5px;
	box-sizing: border-box;
}

#band-name span:first-child{
	font-size: 1.5rem;
	padding-left: 15px;
	font-family: candara;
}

#band-name span:nth-child(2n){
	font-family: arial;
	font-size:0.6rem;
	color:var(--text-color);
	float:right;
	margin-top: 15px;
}

#band-name > div{
	font-size: 0.8rem;
	color:var(--text-color);
	padding-left: 15px;
	font-family: gill sans MT;
}

#artists-details p{
	font-size: 0.7rem;
	padding-left: 18px;
	color:var(--text-color);
}

#artists-follow{
	/*border: 1px solid white;*/
	padding-top:40px;
	padding-left:20px;
}

#artists-follow button:first-child{
	font-size: 1rem;
	background-image:linear-gradient(to right,#3724AE,#BE47DE);
	color:white;
	font-family: gill sans MT;
	text-align: center;
	padding:10px 40px;
	margin-left:5px;
	border: none;
	text-transform: capitalize;
}

#artists-follow button:first-child:hover{
	background-image:linear-gradient(to right,green,yellow);
	/*border-radius:25px;*/
	letter-spacing: 0.1rem;
	/*transform: scaleX(1.1);
	transition:all 0.5s ease-in-out;*/
	position: relative;
	/*top:-5px;*/
}

#artists-follow button:focus{
	outline:none;
}

#artists-follow > input{
	float:right;
	position: relative;
	-webkit-appearance:none;
}

#artists-follow > input::before{
	content: "+ Follow";
	letter-spacing: 0.1rem;
	font-family: "Helvetica";
	color: white;
	border:1px solid #2854A4;
	font-size:0.75rem;
	position:absolute;
	top:10px;
	left:-250px;
	/*position: relative;
	top:20px;
	right:50px;*/
	padding:5px 30px;
	white-space: nowrap;
	animation:changeShape2 0.25s ease-in-out 1;
}

#artists-follow > input:hover::before{
	border-color: white;
}

#artists-follow > input:checked::before{
	background-color:#2EB82E;
	color:white;
	letter-spacing: 0.1rem;
	border:1px solid #2EB82E;
	/*border-radius: 25px;*/
	content:"Following";
	animation: changeShape1 0.25s ease-in-out 1;
}

@keyframes changeShape1{
	from{
		transform: scale(1,1);
	}
	25%{
		transform: scale(1.25,1);
	}
	50%{
		transform: scale(1.5,1);
	}
	75%{
		transform: scale(1.25,1);
	}
	to{
		transform: scale(1,1);
	}
}

@keyframes changeShape2{
	from{
		transform: scale(1,1);
	}
	50%{
		transform: scale(1.2,1);
	}
	to{
		transform: scale(1,1);
	}
}



#artists-follow > input:focus{
	outline:0;
}


#artists-follow > span{
	font-size:0.6rem;
	text-transform: capitalize;
	font-family:"Helvetica";
	vertical-align: middle;
	letter-spacing: 0.1rem;

}

#artists-songs{
	height:auto;
	/*border: 1px solid white;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
	counter-reset: myCounter;
}

#artists-songs > div{
	background-color: #1A1E33;
}

#artists-songs > div::before{
	background-color: #1A1E33;
	counter-increment: myCounter;
	content:"0"counter(myCounter);
	position: relative;
	top:30px;
	font-family: candara light;
	color: #B3B3B3;
	font-size: 0.8rem;
}

.main-songs{
	height:12vh;
	width:99%;
	margin-top:10px;
	/*border:1px dashed white;*/
	padding: 10px;
	position: relative;
}

#artists-songs > div:hover{
	background-color: #202439;
}

.main-songs > div{
	height:80%;
	width:100px;
	position: relative;
	top:-15px;
	left:25px;	
}

.main-songs > div:first-child:hover:before{
	content:"";
	background-color:rgba(0,0,0,0.4);
	height:100%;
	width:100%;
	position: absolute;

}

.main-songs > div a{
	color:white;
	position: absolute;
	top:20px;
	right:40%;
	height:50px;
	width:20%;
	/*display: none;*/
}

.main-songs > div a:hover{
	color: #b3b3b3;
}

.main-songs > div a:last-child{
	color:white;
	position: absolute;
	top:20px;
	right:40%;
	height:50px;
	width:20%;
	display: none;	
}

.main-songs > div a:focus{
	color:transparent;
}

.main-songs > div a:focus + a{
	display: block;
}

/*#player:target{
	visibility: visible;
}*/

.main-songs div:nth-child(2n){
	/*border: 1px solid white;*/
	height: 60%;
	width: auto;
	position: absolute;
	top: 25%;
	/*left:13.5%;*/
	margin-left: 125px;
}

.main-songs div:nth-child(2n) span:first-child{
	font-family: sans-serif;
	font-size:0.8rem;
}

.main-songs div:nth-child(2n) span:last-child{
	font-size:0.8rem;
}

.main-songs div:last-child{
	/*border:1px solid white;*/
	position: absolute;
	top: 10px;
	left:20%;
	width:80%;
	text-align: right;
	padding: 20px 40px;
	box-sizing: border-box;
	/*z-index: -1;*/
}

.main-songs div:last-child button{
	color:#b3b3b3;
	font-size:1.2rem;
}

.main-songs div:last-child button:first-child:focus{
	color:red;
	outline:none;
	animation: animate 0.5s ease-in-out 1;
}

.main-songs div:last-child button:first-child:visited{
	color:red;
}

.main-songs div:last-child button:last-child:focus{
	color:#4efc03;
	outline:none;
	animation: animate 0.5s ease-in-out 1;
}

.main-songs div:last-child button:hover{
	color:white;
}

@keyframes animate{
	0%{
		transform: scale(1,1);
	}
	25%{
		transform: scale(1.5,1.5);	
	}
	50%{
		transform: scale(1,1);
	}
	75%{
		transform: scale(1.25,1.25);
	}
	100%{
		transform: scale(1,1);
	}
}

/*-----------------------------------------------aside section-----------------------------------------------*/

aside{
	width:20vw;
	height:125vh;	
	/*border:2px solid white;*/
	display: inline-block;
	padding:10px;
	/*box-sizing: border-box;*/
	vertical-align: middle;
	position: relative;
}



aside > div{
	width:auto;
	height:53vh;
	/*border:1px dashed white;*/
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	margin:15px 0;
	padding:10px;
	position: relative;

}

aside:before{
	content:"View All";
	position: relative;
	top:30px;
	left:80%;
	white-space: nowrap;
	font-family: "candara light";
	font-size: 0.8rem;
	color:var(--text-color);
	z-index: 1;
}

#aside-1:after{
	content: "Similar Artists";
	font-family: sans-serif;
	font-weight: 700;
	position: absolute;
	top:-5px;
}

.aside-section{
	height:15vh;
	min-width: inherit;
	/*border: 1px solid green;*/
	margin-top:30px;
	position: relative;
}

.aside-section > button{
	float:right;
	color:var(--text-color);
}

.aside-section > button:hover{
	color:white;
}

#btn-menu{
	position: absolute;
	display: inline-block;
	height:auto;
	width:125px;
	background-color: white;
	top:15px;
	right:20px;
	z-index: 1;
	text-align: center;
	padding:5px 0;
	display: none;
}

#btn-menu > button{
	font-weight:700;
	width:100%;
	white-space: nowrap;
}

#btn-menu > button:hover{
	background-color: blue;
	color:white;
}

#btn:focus + #btn-menu{
	display: block;
	transform-origin: top right;
	animation: menu-open 0.25s ease-in-out 1;
}

@keyframes menu-open{
	from{
		opacity: 0;
		transform: scale(0,0);
	}
	to{
		opacity: 1;
		transform: scale(1,1);
	}
}

#btn:active{
	color:blue;
}

#btn:focus{
	outline:none;
}

.aside-section:before{
	content:"4:44";
	font-family: candara light;
	font-size:0.7rem;
	vertical-align: sub;
	position: absolute;
	top:15px;
	right:2px;
}

.aside-section > div:first-child{
	height:100%;
	width:30%;
	/*border:1px solid white;*/
	display: inline-block;
}

#band-label{
	display: inline-block;
	height:100%;
	width:35%;
	/*border: 1px solid white;*/
	vertical-align: top;
	white-space: nowrap;
	padding: 20px;
	box-sizing: border-box;
	/*z-index: 1;*/
}

#band-label > span:first-child{
	font-size:0.75rem;
	font-family:sans-serif;
}

#band-label > span:last-child{
	font-family: candara;
	font-size:0.65rem;
	color:var(--text-color);
}


#aside-2{
	height:100vh;
	counter-reset: secondCounter;
}

#aside-2 > div:before{
	counter-increment: secondCounter;
	content: "0" counter(secondCounter);
	position: relative;
	top:25px;
	font-family: candara light;
	color: var(--text-color);
	font-size: 0.8rem;
	vertical-align: top;
}

#aside-2:after{
	content:"Recently Played";
	position: absolute;
	top:-1%;
	font-family: sans-serif;
	font-weight: 700;

}

#aside-2:before{
	content:"View All";
	position: absolute;
	white-space: nowrap;
	top:-1%;
	left:80%;
	font-family: candara light;
	font-size:0.8rem;
	color:var(--text-color);
}

.aside-section-2{
	margin-top: 20px;
	height: 15vh;
	width:inherit;
	position: relative;
	/*border:1px solid white;*/
}

.aside-section-2 > input{
	display: none;
}

.aside-section-2 label{
	float:right;
	color:var(--text-color);
	margin-top:27px;
	font-size:1rem;
}

.aside-section-2 > label:hover{
	color:white;
}

.aside-section-2 > input:checked + label{
	color:red;
	animation: animate 0.5s ease-in-out 1;
}

.aside-section-2 > div{
	display: inline-block;
	margin:7px auto;
	height:80%;
	width:30%;
	/*border:1px solid white;*/
	position: relative;
}

.aside-section-2 > div:nth-child(2n+1):hover:before{
	content:"";
	background-color:rgba(0,0,0,0.4);
	height:100%;
	width:100%;
	position: absolute;
}

.aside-section-2 > div a{
	position: absolute;
	right:40%;
	top:35%;
	color:white;
}

.aside-section-2 > div a:hover{
	color:var(--text-color);
}

.aside-section-2 > div a:last-child{
	display: none;
}

.aside-section-2 > div a:focus{
	opacity:0;
}

.aside-section-2 > div a:focus + a{
	display: block;
}

.aside-section-2 >div:last-child{
	height:80%;
	width:45%;
	/*border:1px solid white;*/
	vertical-align: top;
	display: inline-block;
	white-space: nowrap;
}

.aside-section-2 >div:last-child span:first-child{
	font-size:0.8rem;
}

.aside-section-2 >div:last-child span:last-child{
	font-size: 0.8rem;
	font-family: "candara light";
	color:var(--text-color);
}





/*-------------------------------------------footer------------------------------------------------------------------*/


.transparent{
	background-color: transparent;
	border: none;
}


#player{
	height: 15vh;
	width: 100vw;
	/*border: 1px solid white;*/
	position: relative;
	top: 85vh;
	background-color: #282828;
	padding: 0 20px;
	position: fixed;
	display: flex;
	/*visibility: hidden;*/
}

#player div{
	margin: auto 10px;
}

#album-cover{
	
	height: 12vh;
	width: 80px;
	margin: 10px 0 10px 80px;
	/*border: 1px solid white;*/
}

#album-cover img{
	height: inherit;
	width: inherit;
}

#album-text{
	width: 50px;
	white-space: nowrap;
	/*border: 1px solid white;*/
	flex-grow: 2;
	overflow: hidden;
}


#album-text > span{
	font-size: 0.8rem;
}

#album-text span.text-style-footer{
	font-size: 0.7rem;
	font-family: tahoma;
}

#like-dislike{
	position: relative;
	top: -3vh;
	height: 8vh;
	width: 125px;
	/*border: 1px solid white;*/
	
	padding: 2px;
	box-sizing: border-box;
	white-space: nowrap;
}

#like-dislike button{
	height: inherit;
	width: 30px;
	margin: 10px;
}

#like-dislike i{
	padding: 5px;
	font-size: 1.2rem;
}

#like-button:focus{
	color: red;
	outline: none;
}

#dislike-button:focus{
	color: blue;
	outline: none;
}

#music-controls{
	height: 12vh;
	width: 400px;
	/*border: 1px solid white;*/
	flex-grow: 3;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#music-controls button{
	/*border: 1px solid white;*/
	margin: 0 10px;
	font-size: 1.2rem;
	width: 40px;
	margin-top: 5px;
}

#play-song i{
	font-size: 1.5rem;
}

#play-song{
	height: 8vh;
	display: inline-flex;
}

#play-song:hover{
	border: 1px solid white;
	border-radius: 50%;
}

#pause-song{
	position: relative;
	right: 25px;
	display: none;
}

#play-song:focus + button#pause-song{
	display: inline-block;
}

#music-controls button:hover{
	color: white;
}

#music-controls button:focus{
	color: white;
	outline: none;
}


#progress-bar{
	height: 1vh;
	width: 350px; /*60%*/
	background-color: #4B4B4B;
	border-radius: 20px;
	position: relative;
}

#progress{
	height: inherit;
	width: 40%;
	position: absolute;
	left: -20px;
	border-radius: 20px;
	background-color: #35E787;
	/*display: none;*/
}

#progress-bar::before{
	content: '1:39';
	position: absolute;
	font-family: tahoma;
	font-size: 60%;
	color: #B3B3B3;
	left: -12%;
	top: -8px;
}

#progress-bar::after{
	content: '4:44';
	position: absolute;
	font-family: tahoma;
	font-size: 60%;
	color: #B3B3B3;
	right: -12%;
	top: -8px;
}

#progress::after{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	right: -10px;
	top: -4px;
	background-color: #D8D8D8;
	border-radius: 50%;
}

#volume-controls{
	height: 12vh;
	width: 400px;
	/*border: 1px solid white;*/
	flex-grow: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	white-space: nowrap;
}

#volume-controls button{
	/*border: 1px solid white;*/
	margin: 0 10px;
	font-size: 1rem;
	width: 30px;
}

#progress-bar-vol{
	height: 1vh;
	width: 90px; 
	background-color: #B3B3B3;
	position: relative;
	border-radius: 20px;
}

#progress-vol{
	height: inherit;
	width: 40%;
	position: absolute;
	left: -20px;
	border-radius: 20px;
	background: linear-gradient(to right, green, yellow 90%);
	position: relative;
}

#progress-vol::after{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	left: 32px;
	top: -7px;
	background-color: #D8D8D8;
	border-radius: 50%;
}

#volume-controls button:focus{
	color: white;
	outline: none;
}

#volume-controls button:hover{
	color: white;
}


/*--------------------------------------------------media queries----------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 992px){

.aside-section > button{
	float:right;
}

#aside-1:after{
	font-size:0.8rem;
}

#band-label > span:first-child{
	font-size:0.65rem;
	font-family:sans-serif;
}

.aside-section:before{
	content:"4:44";
	font-family: candara light;
	font-size:0.6rem;
	vertical-align: sub;
	position: absolute;
	top:55px;
	right:2px;
}

#band-label > span:last-child{
	font-family: candara;
	font-size:0.65rem;
	color:var(--text-color);
}

.aside-section-2 > div:nth-child(2n){
	display: inline-block;
	margin:7px auto;
	height:80%;
	width:30%;
	position: relative;
}

/*#btn{
	position: relative;
	left: 15px;
}*/

#aside-2:after{
	font-size:0.8rem;
}

.aside-section-2 >div:last-child span:first-child{
	font-size:0.65rem;
}

.aside-section-2 >div:last-child span:last-child{
	font-size: 0.6rem;
	font-family: "candara light";
	color:var(--text-color);
}

}

@media screen and (max-width: 768px){

	body{
		text-align: justify;
	}
	main{
		width:90vw;
	}

	#player{
		visibility: hidden;
	}

	#artists-details p{
		font-size:0.7rem;
	}

	#artists-follow > input{
	float:right;
	position: relative;
	left:100px;
	}

	#artists-follow > input::before{
	content: "+ Follow";
	letter-spacing: 0.05rem;
	font-size:0.75rem;
	position:absolute;
	top:10px;
	left:-200px;
	padding:5px 10px;
	white-space: nowrap;
}

	aside{
		display: block;
		position: relative;
		top:-50px;
		left:50px;
	}

	aside > div{
		width:60vw;
	}

	aside >div:last-child{
		right:9%;
	}

	aside img{
		width:90%;
	}

	aside:before{
	content:"View All";
	position: relative;
	top:30px;
	left:250%;
	white-space: nowrap;
	z-index: 1;
	}

	.aside-section-2 >div:last-child{
	height:80%;
	width:auto;
	/*border:1px solid white;*/
	margin-left: 20px;
	vertical-align: top;
	display: inline-block;
	white-space: nowrap;
}

#band-label{
	display: inline-block;
	height:100%;
	width:auto;
	/*border: 1px solid white;*/
	
}



}